api/libs/config.inc.php
static/Chart.js
static/*.gz
static/jquery*
logs/
static/datatables/
static/bootstrap/
static/bootstrap-5.1.3-dist/
static/fa/
static/fa5/
static/popper.min.js.map
data/
loaderio*
.well-known/
